
    #reg{
        background-color: #45489A;
        border: none;
        color: white;
        padding: 14px 40px;
        border-radius: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        transition-duration: 0.4s;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        width: 40%;
        height: 60px;
    }

    
                              